# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out
build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env.local
.env.*.local
*.pem
*.key
credentials.json

# editor / OS
.vscode
.idea
.DS_Store
Thumbs.db
desktop.ini
*.swp

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
