# dependencies
node_modules
.pnp
.pnp.js

# build
dist
build
*.tsbuildinfo

# env & secrets
.env
.env.local
.env.*.local
*.pem
*.key
credentials.json
.insighta

# editor / IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# logs
*.log
npm-debug.log*

# test
coverage
.nyc_output
